---
layout: default
rbar:
   - textbox
   - fb
   - calendar
img: banner-default.jpg
xxtextbox:
  title: Náš newsletter
  text: >
    <script> (function (w,d,s,o,f,js,fjs) { w['ecm-widget']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) }; js = d.createElement(s), fjs = d.getElementsByTagName(s)[0]; js.id = '20-85f7dba955e715936a175d446bc6f115'; js.dataset.a = 'pirati'; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);}(window, document, 'script', 'ecmwidget', 'https://d70shl7vidtft.cloudfront.net/widget.js'));</script>
    <div id="f-20-85f7dba955e715936a175d446bc6f115"></div>
textbox:
  title: Petice
  text: >
     <b>Petice s požadavkem na výstavbu krytého bazénu na Praze 12</b>
     <br/>
     Petici budeme v následujícím měsíci nabízet k podpisu na různých místech Prahy 12. Nebo ji můžete podepsat <a href="https://gov.cz/e-petice/1814-pozadavek-na-vybudovani-kryteho-bazenu-na-uzemi-mc-praha-12">elektronicky</a>.
     <br/>
     <a href="/assets/img/posts/Petice-bazen-2026.pdf">Text petice</a>
     <br/>
---

{% include homepage/banner.html
   link='/'
   title='Banner'
   default='banner-default.jpg'
   mobile='banner-default.jpg'
   breakpoint=640
%}

{% include homepage/news-with-rbar.html %}

