---
layout: default
rbar:
   - textbox
   - fb
   - calendar
img: banner-default.jpg
textbox:
  title: Petice
  text: >
    <b>Protest proti nadměrnému hlukovému zatížení v okolí pražského dálničního okruhu, dálnice D1 a ul. Strakonická</b>
    <br/>
    Petici budeme v následujících měsících nabízet k podpisu na různých místech Komořan, Chilupic, Točné, Zbraslavi a okolí.
    <br/>
    <a href="vystavba/petice-hluk-prazsky-okruh.html">Text petice</a>
---

{% include homepage/banner.html
   link='/'
   title='Banner'
   default='banner-default.jpg'
   mobile='banner-default.jpg'
   breakpoint=640
%}

{% include homepage/news-with-rbar.html %}

