<div class="o-section-block--spaceBot">
  <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
    <li class="c-widget-accordion-item is-active" data-accordion-item="">
      <a href="#toc" class="c-widget-accordion-link">
        <span class="c-widget-accordion__title">Celopražský program</span>
        <span class="c-widget-accordion__icon c-widget-accordion__icon" aria-hidden="true">
          <i class="fa fa-list"></i>
        </span>
      </a>
      <div class="c-widget-accordion-content" data-tab-content="" id="toc">
        <!--
        <div class="c-widget-accordion-content-inner">
          <h4 class="c-widget-accordion-list__heading">Dlouhodobý program</h4>
          <ul class="c-widget-accordion-list">
            {% assign program = site.program | where: "category","dlouhodoby" | group_by:"topic" %}
            {% for topic in program %}
              {{topic.name}}<ul>
              {% for item in topic.items %}
              <li><a href="{{item.url | relative_url}}">{{item.title}}</a></li>
              {% endfor %}</ul>
              {% endfor%}
          </ul>
        </div>
        -->
            <ul class="c-widget-accordion-list">
                <ul>
                    <li><a class="c-emphasized-anchor active" href="https://praha.pirati.cz/program/">Hlavní priority, úvod</a></li>
                    <li><a class="c-emphasized-anchor active" href="https://praha.pirati.cz/program/2018/praha2018/doprava/">Doprava</a></li>
                    <li><a class="c-emphasized-anchor active" href="https://praha.pirati.cz/program/2018/praha2018/kultura-a-cestovni-ruch/">Kultura, památková péče a cestovní ruch</a></li>
                    <li><a class="c-emphasized-anchor active" href="https://praha.pirati.cz/program/2018/praha2018/moderni-mesto/">Moderní město</a></li>
                    <li><a class="c-emphasized-anchor active" href="https://praha.pirati.cz/program/2018/praha2018/otevrena-radnice/">Otevřená radnice</a></li>
                    <li><a class="c-emphasized-anchor active" href="https://praha.pirati.cz/program/2018/praha2018/skolstvi-sport-a-volny-cas/">Školství, sport a volný čas</a></li>
                    <li><a class="c-emphasized-anchor active" href="https://praha.pirati.cz/program/2018/praha2018/uzemni-rozvoj-bydleni-socialni-sluzby/">Územní rozvoj, bydlení a sociální služby</a></li>
                    <li><a class="c-emphasized-anchor active" href="https://praha.pirati.cz/program/2018/praha2018/zdravi-a-bezpectost/">Zdravotnictví a bezpečnost</a></li>
                    <li><a class="c-emphasized-anchor active" href="https://praha.pirati.cz/program/2018/praha2018/zivotni-prostredi/">Životní prostředí</a></li>
                </ul>
            </ul>
      </div>
    </li>
  </ul>
</div>
