{% comment %}
This requires the page header to define
textbox:
  title: # optional
  text:  # required
{% endcomment %}
{% if page.textbox.text %}
<div class="o-section-block">
 <ul class="c-widget-accordion c-widget-accordion--dark" data-accordion="" data-allow-all-closed="true">
   <li class="c-widget-accordion-item is-active" data-accordion-item="">
     <a href="#" class="c-widget-accordion-link">
       <span class="c-widget-accordion__title">{% if page.textbox.title %} {{ page.textbox.title }}{% endif %}</span>
     </a>
     <div class="c-widget-accordion-content c-content-block" data-tab-content="">
       {{ page.textbox.text }}
     </div>
   </li>
 </ul>
</div>
{% endif %}
