{% comment %}
This requires the page header to define
mapycz-api: mini-api   # normal api is OK too
gps:
  lat: ...
  long: ...
  zoom: # optional (default = 16)

Note: map is not inside accordion, as map tiles don't load at start due to accordion collapsing at start (zero height)
{% endcomment %}

{% if (page.mapycz_api) and (page.gps.lat) and (page.gps.long) %}
{% assign gps_zoom = 16 %}
{% if (page.gps.zoom) %}
  {% assign gps_zoom = page.gps.zoom %}
{% endif %}
<div class="o-section-block">
<div id="mapa" style="height: 300px;"></div>
<script type="text/javascript">
var center = SMap.Coords.fromWGS84({{ page.gps.long }}, {{ page.gps.lat }});
{% if page.mapycz_api == 'mini-api' %} // Mapy.cz Mini-API
var mapa = new SMap(JAK.gel("mapa"), center, {{ gps_zoom }}, SMap.DEF_BASE);
mapa.addMarker(center);
{% else %} // default Mapy.cz API
var mapa = new SMap(JAK.gel("mapa"), center, {{ gps_zoom }});
mapa.addDefaultLayer(SMap.DEF_BASE).enable();
var vrstva = new SMap.Layer.Marker();     /* Vrstva se značkami */
var options = { }
var znacka = new SMap.Marker(center, 'markerid', options);
vrstva.addMarker(znacka);
mapa.addLayer(vrstva);
vrstva.enable();
{% endif %}
</script>
<a class="dark expanded button large hide-for-print" href="https://mapy.cz/zakladni?x={{page.gps.long}}&y={{page.gps.lat}}&z=16&source=coor&id={{page.gps.long}}%2C{{page.gps.lat}}" target="_blank"> Zobrazit větší mapu </a>
</div>
{% endif %}
