<aside class="o-section">
  <div class="o-section-inner o-section-inner--rightBlock">
    {% for rbar in  page.rbar %}
        {% if rbar contains 'foto' %}
          {% include right-bar/bar_foto.html %}
        {% endif %}
        {% if rbar contains 'personContact' %}
          {% include right-bar/bar_person_contact.html %}
        {% endif %}
        {% if rbar contains 'garant' %}
          {% include right-bar/bar_garant.html %}
        {% endif %}
        {% if rbar contains 'kodo' %}
          {% include right-bar/bar_kodo.html %}
        {% endif %}
        {% if rbar contains 'program' %}
          {% include right-bar/bar_program.html %}
        {% endif %}
        {% if rbar contains 'cal' and site.calendar %}
          {% include right-bar/bar_cal.html %}
        {% endif %}
        {% if rbar contains 'people' %}
          {% include right-bar/bar_people.html %}
        {% endif %}
        {% if rbar contains 'video' %}
          {% include right-bar/bar_video.html %}
        {% endif %}
        {% if rbar contains 'fb' and site.facebook.profilePage %}
          {% include right-bar/bar_fb.html %}
        {% endif %}
        {% if rbar contains 'tw' and site.twitter.profile %}
          {% include right-bar/bar_tw.html %}
        {% endif %}
        {% if rbar contains 'textbox' %}
          {% include right-bar/bar_textbox.html %}
        {% endif %}
        {% if rbar contains 'map' %}
          {% include right-bar/bar_map.html %}
        {% endif %}

        {% comment %}Allows to append custom right bars variants{% endcomment %}
        {% include right-bar/custom-bars.html rbar=rbar %}
    {% endfor %}
  </div>
</aside>
