<div class="text-right show-for-medium-up">
      <a href="{{ site.data.links.group.github_repository }}edit/gh-pages/{{ page.path }}" class="label secondary" style="background-color:#bbb">
          <i class="fa fa-pencil"></i>
 Navrhni úpravu</a>
</div>

<footer class="o-section o-section--tiled o-section--bigger u-inverted u-cf">
  <div class="o-section-inner">
    <div class="row">
      <div class="medium-12 u-stacked-medium-down">
        <p class="u-maxWidth80percent u-smaller-line-height">
          <img src="{{ 'assets/img/brand/logo-round.svg' | relative_url }}" style="width: 170px; padding-right:30px" alt="Česká pirátská strana" class="u-center-medium-down">
          <span class="u-mirror-horizontally">&copy;</span> Piráti, 2018. Všechna práva vyhlazena.
          Sdílejte a nechte ostatní sdílet za stejných podmínek.
        </p>
      </div>
    </div>
  </div>
</footer>

{% comment %}
<aside class="o-section o-section--bigger c-contact-bar u-inverted u-center-medium-down">
  <div class="o-section-inner">
    <div class="row">
      <div class="small-12 columns">
        <header class="c-contact-bar-header u-stacked-medium-down">
          <h3 class="c-contact-bar__heading"> <a href="{{ '/kontakt/' | relative_url }}">Kontakt</a> </h3>
        </header>
        <ul class="c-contact-bar-items u-stacked-medium-down">
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section"> Média </div>
            <div class="c-contact-bar__description"> Adam Zábranský,
              <a href="mailto:adam.zabransky@pirati.cz">adam.zabransky@pirati.cz</a>
            </div>
          </li>
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section"> Dobrovolnici </div>
            <div class="c-contact-bar__description"> Michal Jokeš,
              <a href="mailto:michal.jokes@pirati.cz">michal.jokes@pirati.cz</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
{% endcomment %}

{% comment %}
<div class='scrolltop'>
    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
</div>
{% endcomment %}
