<div class='thetop'></div>
<aside class="o-section o-section--smaller c-header-bar u-inverted u-inverted--darker u-center-860-down">
  <div class="row">
    <div class="o-section-inner" style="padding: 3px;">
      <div class="small-9 columns">
        <ul class="c-header-bar-items">
          {% if site.data.links.group.facebook_page %}
          <li class="c-header-bar__item c-header-bar__item--smallerSpace">
            <a href="{{site.data.links.group.facebook_page}}" rel="noopener noreferrer" target="_blank" title="Naše stránka na Facebooku">
              <i class="fa fa-facebook" aria-hidden="true"></i>
          </a></li>
          {% endif %}
          {% if site.data.links.group.twitter %}
          <li class="c-header-bar__item c-header-bar__item--smallerSpace">
            <a href="{{site.data.links.group.twitter}}" rel="noopener noreferrer" target="_blank" title="Náš účet na Twitteru">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}
          {% if site.data.links.group.name %}
          <li class="c-header-bar__item c-header-bar__item--smallerSpace">
            <a href="{{'/feed.xml' | relative_url }}" rel="noopener noreferrer" target="_blank" title="Články tohoto webu v RSS">
              <i class="fa fa-rss" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}
        </ul>
        <div class="c-header-bar-divider"></div>
        <ul class="c-header-bar-items c-header-bar-items--bigLh">
        {% for item in site.data.top-menu %}
          <li class="c-header-bar__item">
            <a href="{{ item.url }}" rel="noopener noreferrer" target="_blank">
              <i class="{{ item.icon }}" aria-hidden="true"></i>
              <span class="c-header-bar__itemDescription">{{ item.link }}</span>
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</aside>
<div class="c-top-bar">
  <div class="row">
    <div class="c-top-bar-inner u-cf">
      <div class="top-bar-title">
        <a href="{{ '/' | relative_url }}">
          <img src="{{ '/assets/img/brand/logo.svg' | relative_url }}" alt="Pirátská strana">
          {% if site.data.links.group.short_name %}<span style="color:black; font-size: 1.45rem; text-transform: uppercase; padding-left:0.8em;">{{ site.data.links.group.short_name }}</span>{% endif %}
        </a>
      </div>
      <div class="menu-toggle-container hide-for-large">
        <span data-responsive-toggle="responsive-menu" id="menuTogge" data-hide-for="large">
          <button class="" type="button" data-toggle="">
            <span class="menu-toggle-inner">
              <span class="menu-toggle-description">Menu</span>
              <i class="menu-icon dark"></i>
            </span>
          </button>
        </span>
      </div>
      <div id="responsive-menu" class="c-top-bar-menu">
        <div class="responsive-menu-inner">
          <div class="top-bar-left top-bar-footer-group">
            <ul class="dropdown menu" data-dropdown-menu="">
              {% for item in site.data.main-menu %}
              <li {% if page.url contains item.url %} class="is-active"{% endif %}>
                <a href="{{ item.url | relative_url }}">{{ item.link }}</a>
              </li>
              {% endfor %}
              {% if site.data.links.parent_group %}
              <li>
                <a href="{{ site.data.links.parent_group.web_url }}" target="_blank">
                <strong><i class="fa fa-home" aria-hidden="true"></i> {{ site.data.links.parent_group.name }}</strong></a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="c-top-bar-border"> </div>
