<div class="hlasparent">
<a class="hlasbtn" onclick="return showHideNextEl(this)" href="">Hlasování{%if include.nazev %} {{ include.nazev }}{% endif%}: {{ include.hlasy }}</a>
<div class="hlasbox">
<table>
<tr><th>Strana</th><th>Pro</th><th>Proti</th><th>Zdržel se</th><th>Nepřítomen</th></tr>
{% assign rows = include.hlasy | split: ";" %}
{% for row in rows %}
  {% assign items = row | split: "-" %}
  <tr>
  {% for item in items %}
    <td>{{ item }}</td>
  {% endfor %}
  </tr>
{% endfor %}
</table></div></div>
