{% comment %}
  Medailonek autora clanku zobrazeneho pod clankem v pripade, ze ma clanek spravne vyplneno author-id
{% endcomment %}

{% assign start_index = item.name | size | minus: 1 %}
{% assign name_suffix = item.name | slice: start_index, 1 %}
{% if name_suffix  contains 'á' %}
  <h2>Autorka článku</h2>
{% else %}
  <h2>Autor článku</h2>
{% endif %}
<div class="o-media o-media--top">
  <div class="o-media__image o-media__image--lgspace">
    <img src="{{ item.img | prepend: '/assets/img/' | relative_url }}" alt="{{item.name}}{{item.title}}" style="width:100px">
  </div>
  <div class="o-media__body">
    <h2 class="o-media__headline">
      {% if item.url contains 'http' %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.url | relative_url %}
      {% endif %}
      <a href="{{url}}">{% if item.name %}{{item.name}}{% else %}{{item.title}}{% endif %}</a>
    </h2>
    <p>{{item.description}}</p>
    {% if item.mob or item.mail %}
    <p>
      {{item.mob}}<br>
      <a href="mailto:{{item.mail}}">{{item.mail}}</a><br>
    </p>
    {% endif %}
  </div>
</div>
