.c-profile-badge__avatar {flex-shrink: 0;}
.page-content img {padding-bottom: 20px;}


.l-program{
  &__item{
    &-name{
      text-align: center;
      padding: 2rem 0;
      //font-size: 2em;
      & > p{
        //text-align: justify;
        font-style: italic;
      }
      i{
        font-size: 6rem;
        margin-bottom: 2rem;
      }
    }
    &-garant{
      font-size: .85em;
      h2{
        text-align: left;
        margin: 0;
        font-size: 1rem;
      }
      br{
        display: none;
      }
      p{
        text-align: left;
      }
      .columns{
        width: 100%;
      }
      .o-media__image{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        padding: 0;
        margin-right: 2rem;
        img{
          width: 100%;
          position: relative;
          top: -1rem;
        }
      }
    }
    &-accordion{
      .accordion{
        &-title{
          color: $body-font-color;
          font-size: 1.3rem;
        }
        &-content{
          li{
            margin-bottom: .5rem;
          }
        }
      }

    }
  }
}

.l-prg{
  &__card{
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    position: relative;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    &-title{
      @include breakpoint(small down) {
        margin-right: 3rem;
      }
    }
  }
  &__id{
    border-radius: 100px;
    background: black;
    color: white;
    margin: 0 ;
    position: absolute;
    width: 2em;
    line-height: 2em;
    text-align: center;
    margin-left: -1em;
    margin-top: -1em;
    font-weight: bold;
    font-size: 2em;
    top: 50%;
    left: 50%;
    @include breakpoint(small down) {
      right: 1.5rem;
    }
  }
  &__stats{
    &-done{
      position: relative;
    }

  }
  &__garant{
    &-name{
      //margin-bottom: 0;
      text-align: right;
    }
    &-img{
      max-width: 50px;
      display: inline-block;
      //@include breakpoint(small down) {
      //  float: right;
      //}
    }
  }
}
