.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  li {
    margin: 3px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 2.75rem;
    text-align: center;
    height: 3rem;
    line-height: 3rem; //.disabled v sobe nema <a>

    a {
      height: 3rem;
      line-height: 3rem;
      width: 100%;
      color: $primary-color;
    }
    a:hover {
      background: transparent;
      text-decoration: none;
    }

    @include breakpoint(mobile down) {
      height: 2.7rem;
      line-height: 2.7rem;
      margin: 1px;

      a {
        height: 2.7rem;
        line-height: 2.7rem;
      }
    }

    @if $pagination-mobile-items {
      display: flex;
    }
    @else {
      display: none;

      &:last-child,
      &:first-child {
        display: flex;
      }

      @include breakpoint(medium) {
        display: flex;
      }
    }
  }

  .pagination-previous,
  .pagination-next {
    background: $primary-color;
    font-size: 1.5rem; //.disabled v sobe nema <a>
    padding: 0 10px;
    a {
      text-decoration: none;
      color: #fefefe;
    }
    box-shadow: 0px 3px 2px #ececec;
  }

  a {
    text-decoration: underline;
  }

  .pagination-previous i,
  .pagination-next i {
  }
}
