---
layout: default
---

{%unless page.nomenu%}
{% include submenu.html %}
{% endunless%}

<div class="row">
  <div class="medium-12 {% if page.rbar == empty %}large-12{% else%}large-8{%endif%} columns">
    <div class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <main class="o-section-block member-profile c-BasicPage-content">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
            <h1 itemprop="headline" class="c-BasicPage__title">
                {%if page.fullname%}{{page.fullname}}{%else%}{{page.title}}{%endif%}
            </h1>
            {% if page.mail or page.mob %}
              <div class="contact">
                {% if page.mob %}
                  <div class="contact__phone">
                    <i class="fa fa-phone"></i> {{ page.mob }}
                  </div>
                {% endif %}
                {% if page.mail %}
                  <div class="contact__mail">
                    <i class="fa fa-envelope"></i> {{ page.mail }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
            {% assign profiles_size =  page.profiles | size %}
            {% if profiles_size > 0 %}
              <div class="social-icons">
                {% if page.profiles.facebook %}
                  <a class="social-icon" target="_blank" href="{{page.profiles.facebook}}">
                    <img src="{{ "assets/img/icons/facebook.png" | relative_url }}" title="Facebook - {{page.fullname}}" alt="Facebook - {{page.fullname}}" />
                  </a>
                {% endif %}
                {% if page.profiles.twitter %}
                  <a class="social-icon" target="_blank" href="{{page.profiles.twitter}}">
                    <img src="{{ "assets/img/icons/twitter.png" | relative_url }}" title="Twitter - {{page.fullname}}" alt="Twitter - {{page.fullname}}" />
                  </a>
                {% endif %}
                {% if page.profiles.linkedin %}
                  <a class="social-icon" target="_blank" href="{{page.profiles.linkedin}}">
                    <img src="{{ "assets/img/icons/linkedin.png" | relative_url }}" title="LinkedIn - {{page.fullname}}" alt="LinkedIn - {{page.fullname}}" />
                  </a>
                {% endif %}
                {% if page.profiles.blog %}
                  <a class="social-icon" target="_blank" href="{{page.profiles.blog}}">
                    <img src="{{ "assets/img/icons/blog.png" | relative_url }}" title="Blog - {{page.fullname}}" alt="Blog - {{page.fullname}}" />
                  </a>
                {% endif %}
                {% if page.profiles.compass %}
                  <a class="social-icon" target="_blank" href="{{page.profiles.compass}}">
                    <img src="{{ "assets/img/icons/compass.png" | relative_url }}" title="Political Compass - {{page.fullname}}" alt="Political Compass - {{page.fullname}}" />
                  </a>
                {% endif %}
                {% if page.profiles.youtube %}
                  <a class="social-icon" target="_blank" href="{{page.profiles.youtube}}">
                    <img src="{{ "assets/img/icons/youtube.png" | relative_url }}" title="YouTube - {{page.fullname}}" alt="YouTube - {{page.fullname}}" />
                  </a>
                {% endif %}
                {% if page.profiles.googleplus %}
                  <a class="social-icon" target="_blank" href="{{page.profiles.googleplus}}">
                    <img src="{{ "assets/img/icons/googleplus.png" | relative_url }}" title="Google+ - {{page.fullname}}" alt="Google+ - {{page.fullname}}" />
                  </a>
                {% endif %}
                {% if page.profiles.vkontakte %}
                  <a class="social-icon" target="_blank" href="{{page.profiles.vkontakte}}">
                    <img src="{{ "assets/img/icons/vkontakte.png" | relative_url }}" title="VKontakte - {{page.fullname}}" alt="VKontakte - {{page.fullname}}" />
                  </a>
                {% endif %}
                {% if page.profiles.instagram %}
                  <a class="social-icon" target="_blank" href="{{page.profiles.instagram}}">
                    <img src="{{ "assets/img/icons/instagram.png" | relative_url }}" title="Instagram - {{page.fullname}}" alt="Instagram - {{page.fullname}}" />
                  </a>
                {% endif %}
                {% if page.profiles.pinterest %}
                  <a class="social-icon" target="_blank" href="{{page.profiles.pinterest}}">
                    <img src="{{ "assets/img/icons/pinterest.png" | relative_url }}" title="Pinterest - {{page.fullname}}" alt="Pinterest - {{page.fullname}}" />
                  </a>
                {% endif %}
                {% if page.profiles.github %}
                  <a class="social-icon" target="_blank" href="{{page.profiles.github}}">
                    <img src="{{ "assets/img/icons/github.png" | relative_url }}" title="GitHub - {{page.fullname}}" alt="GitHub - {{page.fullname}}" />
                  </a>
                {% endif %}
                {% if page.profiles.redmine %}
                  <a class="social-icon" target="_blank" href="{{page.profiles.redmine}}">
                    <img src="{{ "assets/img/icons/redmine.png" | relative_url }}" title="Redmine - {{page.fullname}}" alt="Redmine - {{page.fullname}}" />
                  </a>
                {% endif %}
                {% if page.profiles.wiki %}
                  <a class="social-icon" target="_blank" href="{{page.profiles.wiki}}">
                    <img src="{{ "assets/img/icons/piratewiki.png" | relative_url }}" title="Pirátská wiki - {{page.fullname}}" alt="Pirátská wiki - {{page.fullname}}" />
                  </a>
                {% endif %}
              </div>
            {% endif %}
            {% if page.supporting %}
              <div class="row">
                <div class="small-12 medium-6 columns">
                  <h2>Jsem PRO</h2>
                  {% if page.supporting.first %}
                    <ul class="supporting">
                      {% for item in page.supporting %}
                        <li>{{ item }}</li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <p>{{ page.supporting }}</p>
                  {% endif %}
                </div>
                <div class="small-12 medium-6 columns">
                  {% if page.name == 'Mária Vašíčková' %}
                    <h2>Nejsem PROTI ničemu</h2>
                  {% else if %}
                    <h2>Jsem PROTI</h2>
                  {% endif %}
                  {% if page.notsupporting.first %}
                    {% if page.name == 'Mária Vašíčková' %}
                      <ul class="supporting">
                    {% else if %}
                      <ul class="not-supporting">
                    {% endif %}
                      {% for item in page.notsupporting %}
                        <li>{{ item }}</li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <p>{{ page.notsupporting }}</p>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% if page.reason and page.motto %}
              <div class="row">
                <div class="small-12 medium-6 columns">
                  <h2>Proč kandiduji</h2>
                  <p>{{ page.reason }}</p>
                </div>
                <div class="small-12 medium-6 columns">
                  <div class="motto-wrap">
                    {% if page.motto.first %}
                      <p class="motto">{{ page.motto[0] }}</p>
                      <p class="motto-author">&mdash; {{ page.motto[1] }}
                    {% else %}
                      <p class="motto">{{ page.motto }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% else if page.reason or page.motto %}
              <div class="row">
                <div class="small-12 medium-8 medium-offset-2 columns">
                  {% if page.reason %}
                      <h2>Proč kandiduji</h2>
                      <p>{{ page.reason }}</p>
                  {% endif %}
                  {% if page.motto %}
                    <div class="motto-wrap">
                      {% if page.motto.first %}
                        <p class="motto">{{ page.motto[0] }}</p>
                        <p class="motto-author">&mdash; {{ page.motto[1] }}
                      {% else %}
                        <p class="motto">{{ page.motto }}</p>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            <div itemprop="description" >
              <h2>Bio</h2>
              {{content}}
            </div>
          </article>
          <!-- /Article -->
          {% assign articles = site.posts | where_exp: "item", "item.authorId == page.uid"  %}
          {% assign articles_length = articles | size %}
          {% if articles_length > 0 %}
            {% assign start_index = page.fullname | size | minus: 1 %}
            {% assign name_suffix = page.fullname | slice: start_index, 1 %}
            {% if name_suffix  contains 'á' %}
              <h2>Články autorky {{ page.name }}</h2>
            {% else %}
              <h2>Články autora {{ page.name }}</h2>
            {% endif %}
          {%endif%}
          {% if articles_length > 0 %}
            <ul>
              {% for article in articles %}
                <li>
                  <a href="{{article.url | relative_url}}">
                    {{ article.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {%endif%}
        </main>
      </div>
    </div>
  </div>
  {% unless page.rbar == blank %}
  <div class="medium-12 large-4 columns">
    {% include right-bar/rbar.html %}
  </div>
  {% endunless %}
</div>
