---
layout: default
title: Připoj se
img: miscellaneous/pripojse.jpg
---

<div class="row">
  <div class="medium-12 large-12 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <div class="o-section-block" data-equalizer data-equalize-on="medium">
          <div class="column medium-4">
            <ul class="pricing-table no-bullet text-center" data-equalizer-watch>
              <li class="pricing-table-header-img" style="background-image:url('{{ 'odberatel.jpg' | prepend: '/assets/img/teams/' | relative_url}}')"></li>
              <!--CC-BY Kartik Malik source https://flic.kr/p/aQaGzX -->
              <li class="price">Odběratel novinek</li>
              <li class="description">získá...</li>
              <li>✓ pozvánky na akce</li>
              <li>✓ pravidelné novinky do e-mailu</li>
              <li>
              Nezapomeň sledovat <a href="{{ site.data.links.group.facebook_page }}">náš Facebook!
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a></li>
            </ul>
          </div>
          <div class="column medium-4">
            <ul class="pricing-table no-bullet text-center" data-equalizer-watch>
              <li class="pricing-table-header-img" style="background-image:url('{{ 'priznivec.jpg' | prepend: '/assets/img/teams/' | relative_url}}')"></li>
              <li class="price"  title="Doporučujeme!">Registrovaný příznivec <span style="color:yellow"><i class="fa fa-star"></i></span></li>
              <li class="description">získá...</li>
              <li>✓ možnost účasti ve vnitřní diskusi</li>
              <li>✓ možnost kandidatury</li>
              <li>+ možnosti odběratele novinek</li>
            </ul>
          </div>
          <div class="column medium-4">
            <ul class="pricing-table no-bullet text-center" data-equalizer-watch>
              <li class="pricing-table-header-img" style="background-image:url('{{ 'clen.jpg' | prepend: '/assets/img/teams/' | relative_url}}')"></li>
              <li class="price">Člen strany</li>
              <li class="description">získá...</li>
              <li>✓ možnost hlasovat ve straně</li>
              <li>✓ adresu @pirati.cz</li>
              <li>+ možnosti registrovaného příznivce</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% if site.data.links.group.contact_form %}
<div class="row">
  <div class="medium-12 large-12 columns">
    <div id="tlacitko" style="    text-align: center;">
        <a href="{{ site.data.links.group.contact_form }} " target="_blank" style="width: 350px; margin-top: 10px; text-align: center; padding: 22px; font-size: 22px; background-color: #5cb85c;border-color: #5cb85c; color: white;" class="c-cta-button c-cta-button--primary">
          Máš vybráno?
          <br> Vyplň formulář...
        </a>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="medium-12 large-12 columns">
    <section class="o-section o-section">
      <div class="o-section-inner">
        <div class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <h2 itemprop="headline" class="c-BasicPage__title">Místní kontakt</h2>
              <div class="row collapse">

                <div class="large-6 small-12 columns end o-section-mediumdown-divided-small">
                  {% if site.data.links.group.local_contact_uid %}
                    {% assign item =  site.people | where_exp:"item","item.uid contains site.data.links.group.local_contact_uid" | first %}
                    {% include people/local-contact.html param=""%}
                  {% endif %}
                </div>

                <div class="large-6 small-12 columns end o-section-mediumdown-divided-small">
                  <div class="o-media">
                    <div class="o-media__body">
                      <blockquote class="c-blockquote c-blockquote--wicon">Pirátská strana funguje na principu dobrovolnosti.
                        Pokud něco chceš dělat, nečekej na ostatní
                        a zapoj se. Samozřejmě respektuj ostatní dobrovolníky
                        a pravidla
                        <a href="https://redmine.pirati.cz/projects/po/wiki/Pir%C3%A1tsk%C3%A1_netiketa">netikety</a>.</blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
